.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper .swiper-slide {
  width: 500px;
  height: 500px;
  position: relative;
  top: 50%;
  margin-top: -230px;
}
.swiper-slide .swiper-slide .inner {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  opacity: 0.4;
  transition: 1s;
}
