@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  width: 100%;
  height: 100%;
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c06c84, #6c5b7b, #355c7d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: linear-gradient(30deg, #cdb9f6, #3e3e3e); */
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
}

.wrap h1 {
  font-weight: normal;
  font-size: 24px;
  font-family: "orbitron";
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  left: 50px;
  top: 50px;
}

.wrap h1 span {
  opacity: 0.9;
  font-weight: bold;
}

.wrap .swiper-wrapper .swiper-slide-active {
  opacity: 1;
  box-shadow: 0px 0px 50px rgb(255, 255, 128);
}

.wrap .swiper-wrapper .swiper-slide::before,
.wrap .swiper-wrapper .swiper-slide::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  background: #fff;
}
@keyframes ani {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  1% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
.wrap .swiper-wrapper .swiper-slide-active::before {
  animation: ani 1s ease 1;
}

.wrap .swiper-wrapper .swiper-slide-prev,
.wrap .swiper-wrapper .swiper-slide-next {
  opacity: 0.6;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper .swiper-slide {
  width: 600px;
  height: 500px;
  border-radius: 12px;
  position: relative;
  margin-top: 190px;
  background: #fff;
}
.swiper-wrapper .swiper-slide .inner {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  /* opacity: 1; */
  transition: 1s;
  display: flex;
  align-items: center; /* 수직 방향 중앙 정렬 */
  z-index: 10;
}

.swiper-wrapper .swiper-slide .inner img {
  width: 320px;
  border-radius: 12px;
}
.swiper-wrapper .swiper-slide .inner .text-box {
  margin-left: 20px;
}
.swiper-wrapper .swiper-slide .inner .arrow {
  margin-top: 10px;
  width: 30px;
  height: 0.5px;
  background-color: black;
}
.swiper-wrapper .swiper-slide-active .inner .arrow {
  margin-top: 10px;
  width: 130px;
  height: 0.5px;
  background-color: black;
  transition: 1s 0.5s;
}

.swiper-wrapper .swiper-slide .inner p {
  font-size: 25px;
  font-family: "roboto";
  color: #000;
}
.swiper-wrapper .swiper-slide .inner p span {
  font-weight: bolder;
}

.wrap .swiper-button-prev {
  right: 100px;
  bottom: 50px;
  left: auto;
  top: auto;
  filter: grayscale(100%) brightness(3);
  transform: scale(0.5);
}

.wrap .swiper-button-next {
  right: 60px;
  bottom: 50px;
  left: auto;
  top: auto;
  filter: grayscale(100%) brightness(3);
  transform: scale(0.5);
}

.wrap .swiper-pagination-fraction {
  bottom: auto;
  top: 50px;
  left: auto;
  right: 50px;
  width: auto;
  font-size: 20px;
  font-family: "orbitron";
  letter-spacing: 1px;
  color: #eee;
}

.wrap .swiper-pagination-fraction span:nth-of-type(1) {
  font-size: 30px;
  color: #fff;
}

.swiper-wrapper .swiper-slide:hover .inner {
  transform: scale(0.9);
}
.swiper-wrapper .swiper-slide:hover {
  cursor: pointer;
}
